# OSX files
------------
.DS_Store
.AppleDouble
.LSOverride

# Python cache
----------------
__pycache__/*
*.py[cod]

# Unit test / coverage reports
------------------------------
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Django
---------
*.log
*.sqlite3

# linux/Windows batch/shell scripts
----------------------------------
*.sh
*.bat
env/*

# Raw table load files
-----------------------
dataLoad/*
