{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block breadcrumb %}
  <li><a href="{% url 'asset:asset-table-listing' %}">Home</a></li>
{% endblock breadcrumb %}

{% block content %}

<form action="" method="GET">
  <div class="container">
    <div class="d-flex flex-row justify-content-between">
      <div class="p-2">
        <a class="btn btn-primary" href="{% url 'asset:add-asset' %}"><i class="fas fa-plus"></i> Add</a>
      </div>
      <div class="form-inline">
        {% crispy filter.form filter.form.helper %}
      </div>
    </div>
  </div>
</form>


<div class="container my-3">
  {% render_table table %}

  <div class="d-flex justify-content-end">
    {% if table.page %}
      {% block pagination %}
          {% bootstrap_pagination table.page url=request.get_full_path  size='small' %}
      {% endblock pagination %}
      {% endif %}
  </div>
</div>
{% endblock content %}
