{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block breadcrumb %}
  <li class="active"><span>Detail</span></li>
{% endblock breadcrumb %}

{% block content %}


  <div class="container">
    <div class="row border-bottom">
      <h1 id='asset-title'>{{ asset.name }}</h1>
    </div>

    <div id="button-block" class="d-flex justify-content-end">
            <a href= "{% url 'asset:update-asset' pk=asset.pk %}" alt="Edit asset" id="edit-button" class="btn btn-sm btn-outline-primary"
            style="margin-right:5px;">
                <i class="fas fa-pencil-alt"></i> Edit</a>
            <span class='disable-links'>
              <a href="javascript:window.print()" alt="Print page" id="print-button" class="btn btn-sm btn-outline-primary">
                <i class="fas fa-print"></i> Print</a>
            </span>
    </div>

  </div>
  <div class="container">
    <div class="row row-grid">
        <div class="col-3"><h6>Stewardship Organization</h6></div>
        <div class="col-9">{{ asset.organization }}</div>
    </div>
    <div class="row row-grid">
        <div class="col-3"><h6>Status</h6></div>
        <div class="col-9">{{ asset.status }}</div>
    </div>
    <div class="row row-grid">
        <div class="col-3"><h6>Spatial scale</h6></div>
        <div class="col-9">{{ asset.spatial_scale }}</div>
    </div>
    <div class="row row-grid">
        <div class="col-3"><h6>Abstract</h6></div>
        <div class="col-9">{{ asset.description }}</div>
    </div>
    <div class="row row-grid">
        <div class="col-3"><h6>Keywords</h6></div>
        <div class="col-9">
              {{ asset.subject_taglist }}
        </div>
    </div>
    <div class="row row-grid">
        <div class="col-3"><h6>Collection Period</h6></div>
        <div class="col-9"> {{ asset.start_month}} - {{ asset.end_month}}</div>
    </div>
    <div class="row row-grid">
          <div class="col-3"><h6>Asset time span</h6></div>
          <div class="col-9"> {{asset.start_year}} - {{ asset.end_year }}</div>
    </div>

    <div class="row row-grid">
      <div class="col-3"><h6>Primary Contact</h6></div>
      <div class="col-9">
          {{ asset.primary_contact_name }}<br>
          {{ asset.primary_contact_address1 }}<br>
          {% if asset.primary_contact_address2 %}
            {{ asset.primary_contact_address2 }}<br>
          {% endif %}
          {{ asset.primary_contact_city}} {{ asset.primary_contact_state }} {{asset.primary_contact_zip}}
          <br>
          {{ asset.primary_contact_phone }}<br>
          {{ asset.primary_contact_email}}
        </div>
      </div>

    <div class="row row-grid">
      <div class="col-3"><h6>Data Contact</h6></div>
      <div class="col-9">
        {{ asset.data_contact_name }}<br>
        {{ asset.data_contact_address1 }}<br>
        {% if asset.data_contact_address2 %}
          {{ asset.data_contact_address2 }}<br>
        {% endif %}
        {{ asset.data_contact_city}} {{ asset.data_contact_state }} {{asset.data_contact_zip}}
        <br>
        {{ asset.data_contact_phone }}<br>
        {{ asset.data_contact_email}}
      </div>
    </div>

    {% if asset.partners %}
    <div class="row row-grid">
      <div class="col-3"><h6>Partners</h6></div>
      <div class="col-9">{{ asset.partners }}</div>
    </div>
    {% endif %}

    <div class="row row-grid">
      <div class="col-3"><h6>Location keywords</h6></div>
      <div class="col-9">{{ asset.place_taglist }}</div>
    </div>
</div>
{% endblock content %}
