{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block breadcrumb %}
  <li><a href="{% url 'asset:asset-table-listing' %}">Home</a></li>
  <li class="active"><span>
      {% if object %}
        Update
      {% else %}
        Add
      {% endif %}
    </span></li>
{% endblock breadcrumb %}

{% block content %}
  <div class="container">
    {% crispy form %}
  </div>
{% endblock content %}

{% block javascript %}
<link href={% static "autocomplete_light/vendor/select2/dist/css/select2.css" %} type="text/css" media="all" rel="stylesheet" />
<link href={% static "autocomplete_light/select2.css" %} type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src={% static "autocomplete_light/jquery.init.js" %}></script>
<script type="text/javascript" src={% static "autocomplete_light/autocomplete.init.js" %}></script>
<script type="text/javascript" src={% static "autocomplete_light/vendor/select2/dist/js/select2.full.js" %}></script>
<script type="text/javascript" src={% static "autocomplete_light/select2.js" %}></script>
{% endblock javascript %}
