<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=11">
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block head_title %}MB Data Asset Catalog{% endblock head_title %}</title>

    {# load tag library #}
    {% load static %}
    {% load bootstrap4 %}

    {# load CSS and javascript #}
    {% bootstrap_css %}
    <link href="{% static 'css/site.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.js"></script>
    <script type="text/javascript" defer src="{% static 'js/fontawesome-all.js' %}"></script>
    <script type="text/javascript" defer src="{% static 'js/script_utils.js' %}"></script>

    {% bootstrap_javascript %}

    {% block header %}
    {% endblock header %}
</head>

<body>
  <header class="header" role="banner">
    <div class="container-full-width" id="menu">
      <div class="container">
        <div class="d-flex justify-content-end">
          <a class="btn btn-sm btn-secondary" href="{% url 'about' %}">About</a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="site-heading">
      <!--  <img class="site-logo" src="{% static 'images/logosvg_70px.png' %}">
        <span class="agency-text">U.S. Fish & Wildlife Service - Migratory Bird Program</span> -->
        <span class="title">Data Asset Catalog<span class="version-text">v1.1.7</span>
        </span>
      </div>
    </div>
  </header>

<div class="container-full-width mb-5">
  <div style="background-color: #e6e9ed;">
    <div class="container" id="breadcrumb">
    <ol class="breadcrumb breadcrumb-arrow small">
      {# https://bootsnipp.com/snippets/4O9nR #}
        <li><a href="{% url 'asset-table-listing' %}"><i id="home-icon" class="fas fa-home"></i></a></li>
      {% block breadcrumb %}
      {% endblock breadcrumb %}
    </ol>
  </div>
  </div>
  {# display django.contrib.messages as boostrap alerts #}
  {% if messages %}
    <div class="container">
      {% bootstrap_messages %}
    </div>
    {% endif %}
</div>

{% block content %}
{% endblock content %}

<div class="push"></div>
{% include "footer.html" %}

{% block javascript %}
{% endblock javascript %}
</body>
</html>
