<footer class="footer">
  <div class="container">
    <!--<div class="row justify-content-center">
      <div class="col-1"><a href="https://www.fws.gov/">US Fish and Wildlife Service</a></div>
      <div class="col-1"><a href="https://www.doi.gov/">Department of the Interior</a></div>
      <div class="col-1"><a href="https://www.usa.gov/">USA.gov</a></div>
      <div class="col-1"><a href="">Accessibilty</a></div>
      <div class="col-1"><a href="">FOIA</a></div>
      <div class="col-1"><a href="">Privacy Policy</a></div>
      <div class="col-1"><a href="">Notices</a></div>
      <div class="col-1"><a href="">Disclaimer</a></div>
    </div>-->
    <div class="footer-branding">
      &nbsp;
    </div>

    <div class="">
      <a href="{% url 'about' %}">About</a>
      <br/><br/><br/>
    </div>
  </div>
</footer>
